@font-face {
    font-family: "Keep Calm Medium";
    src: url("fonts/KeepCalm-Medium.eot?") format("eot"),
    url("fonts/KeepCalm-Medium.woff") format("woff"),
    url("fonts/KeepCalm-Medium.ttf") format("truetype"),
    url("fonts/KeepCalm-Medium.svg#KeepCalm-Medium") format("svg");
    font-weight: normal;
    font-style: normal;
} //Fuentes
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span input {
    font-family: "Keep Calm Medium";
    color: #000;
}

@azul: #2d3868;
@gris: #7c7c7c;
@marinoClaro: #38426c;
@grisClaro: #e1e1e1;
@grisOscuro: #dbdbdb;
@magenta: #be3043;
@naranja: #d9894d;
@AmarilloQuienesSomos: #e2a335;

.flex {
    display: flex;
    flex-wrap: wrap;

    &.center-h {
        justify-content: center;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    .columna {
        width: 50%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-center {
            align-self: center;
        }
        &.align-self-end {
            align-self: flex-end;
        }
    }

    &.triple {
        .columna {
            width: calc(100%/3);
        }
    }
}

/*Ajuste de contenedor*/

body > .container {
    width: 100%;
}


.container {
    width: 100%;
}

.contenedor,
.archive .container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-page-wrapper {
    padding-top: 0;
}

.boton,
input[type="submit"] {
    display: inline-block;
    padding: 15px 20px;
    font-size: 2em;
    font-weight: 600px;
    transition: all 0.3s ease-in-out;
    border: none;
    font-weight: 600;
    &.azul {
        background-color: @naranja;
        color: #fff;
        &:hover {
            background-color: @magenta;
        }
    }
}

.padding-100 {
    padding: 100px 0;
}

.padding-50 {
    padding: 50px 0;
}

.template-section {
    h2 {
        text-align: center;
        font-size: 36px;
    }
}

/* ==========================================================================
   PRINCIPAL
   ========================================================================== */

#servicio-express {
    background: url(../img/intro.jpg) no-repeat center;
    background-size: cover;
    max-height: 600px;
    background-attachment: fixed;
    .informacion {
        background-color: @azul;

        text-align: center;
        padding: 50px;
        h1 {
            color: #fff;
        }

        p {
            font-size: 20px;
            color: #fff;
        }
    }
    img {
        max-height: 600px;
    }
}


#ideologia {
    p {
        font-size: 24px;
        color: @gris;
    }

    .flex {
        .columna {
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
            }

            div.icono {
                background-color: #fff;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                margin: 0 auto;
                position: relative;
                z-index: 10;
                box-sizing: border-box;
                padding-top: 30px;
            }

            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .cuadroGris {
        background: url(../img/borde.png) no-repeat right bottom @grisOscuro;
        background-size: 50%;
        text-align: center;
        padding: 80px 20px 0;
        position: relative;
        top: -50px;
        min-height: 290px;
        p {
            font-size: 18px;
        }
    }
}


#servicios {
    background: @magenta;

    h2 {
        color: #fff;
    }

    hr {
        display: block;
        height: 80px;
        width: 100%;
        background-color: @azul;
    }

    .servicio {
        margin-top: 50px;
        .columna {
            &:first-child {
                max-width: 135px;
            }

            &:last-child {
                p {
                    color: #fff;
                    font-size: 24px;
                }
            }
        }

        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}

#mensajeria {
    background: @naranja;

    h2 {
        color: #fff;
        margin-bottom: 50px;
    }

    .flex {
        .columna {
            width: calc(100%/5);
            text-align: center;

            img {
                max-height: 80px;
                height: 100%;
            }
            p {
                color: #fff;
                margin-top: 20px;
            }
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

#restaurantes {
    background: url(../img/restaurantes.jpg) no-repeat center;
    background-size: cover;

    padding: 150px 0;

    h2 {
        color: #fff;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}




/* ==========================================================================
   RESPONSIVE MÓVIL
   ========================================================================== */

@media only screen and (max-width: 500px) {
    p {
        padding: 10px;
        text-align: center;
    }


    .flex {
        .columna {
            width: 100%;

            p {
                padding: 0;
            }
        }

        &.wrap-reverse {
            flex-wrap: wrap-reverse;
        }
    }





    #servicio-express {
        background-attachment: inherit;
        max-height: 722px;
        overflow: hidden;
        .informacion {
            margin-top: 20px;
            padding: 25px;
            h1 {
                color: #fff;
            }

            p {
                font-size: 20px;
                color: #fff;
            }
        }
        img {
            max-height: 600px;
        }
    }

    #ideologia {
        .flex.triple {
            .columna {
                width: 100%;
            }
        }
    }

    #servicios {
        .flex {
            .columna {
                width: 100% !important;
                max-width: 100% !important;
                img {
                    margin: 20px auto;
                    display: block;
                }
            }
        }
    }

    #mensajeria {
        .flex {
            .columna {
                width: 100%;
                text-align: center;
                padding: 20px 0;
            }
        }
    }
}
